.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 30;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  font-size: calc(10px + 2vmin);
  color: gainsboro;
}

.App-link {
  color: #61dafb;
}

.text {
  color: gainsboro;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Scoreboard {
  background-color: #282c34;
}

.ScoreboardText {
  color: gainsboro;
  font-size: calc(10px + 2vmin);
}

td {
  color: gainsboro;
  text-align: center;
  border: 1px solid #ccc;
  padding: 6px;
}

.tableHeader {
  font-size: calc(10px + 2vmin);
  color: gainsboro;
  padding: 8px;
}